<html>
	<head>
		<title>Hack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-social.css" rel="stylesheet">
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
		<meta property="og:image" content="<%= userObj.avatar_url %>" />
		<!-- Optional - Adds useful class to manipulate icon font display -->
		<link rel="stylesheet" href="/css/pe-icon-7-stroke/css/helper.css">

		<style>

			body{font-weight:300;-webkit-font-smoothing:antialiased}
			h2{text-align:center;font-weight:300}
			.btn-social-icon{margin-bottom:4px}
			.jumbotron{height:100%;position:relative;background:rgb(105,210,231);font-size:16px;color:#fff;color:rgba(255,255,255,0.75);text-align:center;border-radius:0;margin-bottom: 0;padding-top:10px;padding-bottom: 100px;}.jumbotron h1{margin-bottom:15px;font-weight:300;letter-spacing:-1px;color:#fff;}
			.jumbotron iframe{width:90px !important;height:20px !important;border:none;overflow:hidden;margin:2px}
			.btn-outline{margin-top:15px;margin-bottom:15px;padding:18px 24px;font-size:inherit;font-weight:500;color:#fff;background-color:transparent;border-color:#fff;border-color:rgba(255,255,255,0.5);transition:all .1s ease-in-out}.btn-outline:hover,.btn-outline:active{color:#6c71c4;background-color:#fff;border-color:#fff}
			.jumbotron p a,.jumbotron-links a{font-weight:500;color:#fff;transition:all .1s ease-in-out}
			.jumbotron p a:hover,.jumbotron-links a:hover{text-shadow:0 0 10px rgba(255,255,255,0.55)}
			.jumbotron-links{margin-top:15px;margin-bottom:0;padding-left:0;list-style:none;font-size:14px}.jumbotron-links li{display:inline}
			.jumbotron-links li+li{margin-left:20px}
			.how-to{padding:20px}.how-to h2{text-align:center}
			.how-to li{font-size:21px;line-height:1.7;margin-top:20px}.how-to li p{font-size:16px;color:#555}
			.how-to code{font-size:85%;word-wrap:break-word;white-space:normal}
			footer{text-align:center;opacity:.8;padding:20px 0 40px}
			.links{margin:0;list-style:none;padding-left:0}.links li{display:inline;padding:0 10px}
			.social-class .social-hex{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:10px;opacity:.3;float:right}
			.social-class li{margin-bottom:4px}.social-class li:hover .social-hex{opacity:1}
			.social-class li:hover code{background-color:#e8e8ee}
			.social-class code{cursor:default}


			.page-header {
				height:80px;
				margin: 0;
				padding:0;
			}
			.logo {
				font-size: 30px;
				position: relative;
				float: left;
				padding:18px 0 0 24px;
			}
			.inline-logo {

				font-size: 50px;
				color:#444;
				font-weight: 300;
				letter-spacing: -1px;
				padding-top: 10px;
			}
			.topGithubUsers {
				font-size: 20px;
			}
			.score {
				height:150px;
				width: 150px;
				border-radius: 75px;
				background:rgb(250,105,0);
				font-size: 60px;
				padding-top: 30px;
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				top:145px;
			}
			#bottomBar {
				width:100%;
				position: absolute;
				bottom:0;
				height:200px;
				background: rgb(224,228,204);
			}
			#githubBox {
				float: left;
				height: 200px;
				width: 200px;
				border-right:1px solid #444;
				cursor: hand;
				cursor: pointer;
				position: relative;
				background: #444;
				/*background: #829aa8;*/
			}
			#githubBox i {
				margin-left: 13px;
				margin-top: 0px;
				font-size: 200px;
				color: #fff;
			}
			#githubUsername {
				position: absolute;
				width: 105px;
				height: 20px;
				top:85px;
				left:45px;
				text-align: center;
				color:#fff;

			}

			#personalBox {
				float: right;
				height: 200px;
				width: 200px;
				border-left:1px solid #444;
				cursor: hand;
				cursor: pointer;
				position: relative;
			}
			#personalBox img {
				height: 100%;
				width: 100%;

			}
			#personalWebsite {
				position: absolute;
				top:90px;
				left:20px;
				width:190px;
				font-size: 1.2em;
				display: none;

			}
			#personalWebsiteLink {
				text-decoration: none;
			}
			#hireMe {
				width: 250px;
				height: 60px;
				background: rgb(243,134,48);
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				bottom:70px;
				left: 0;
				right:0;
				text-align: center;
				color: #fff;
				font-size: 40px;
				line-height: 10px;
			}
			#improveScoreSignIn {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				top:350px;
				left: 0;
				right:0;
				width: 200px;
				display: none;

			}
			#improveScoreSignIn a{
				float: left;
				width: 200px;
			}
			#popupForm {
				display: none;
				position: absolute;
				top: 50px;
				background: #fff;
				height: 400px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				width: 350px;
				border-radius: 10px;
				padding:0 10px;
			}
			#hidePopup {
				position: absolute;
				top: 8px;
				right: 8px;
				cursor: pointer;
				cursor: hand;
			}
			
			#hidePopup i {
				font-size: 24px;
			}

			.colorgraph {
			  height: 5px;
			  border-top: 0;
			  background: #c4e17f;
			  border-radius: 5px;
			  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			}
			
			#facebookLikeWrapper {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				width: 100px;
				height: 200px;
				overflow: visible;
			}
			.fb-like {
				position: absolute;
				top:0;
				
			}

			@media screen and (max-width: 400px) {
				#personalBox {
					width: 50%;
				}
				#githubBox {
					width: 50%;
				}
				.score {
					/*top:190px; */

				}
			}
			@media screen and (max-width: 655px) {
				#hireMe {
					bottom:210px;
				}
			}

			</style>

	<body>
			
		<div class="jumbotron">
	      	<div class="container">
		        <div class='inline-logo'><%= userObj.name %></div>
		        <div class='topGithubUsers'>
		        	Top <%= userObj.github_data.top %>% of all github users
		        </div>
		        <div class='score'>
		        	<%= Math.round(userObj.github_data.totalPoints) %>
		        </div>
	          
	    	</div>
	    	

	      </div>
   		</div>
   		<div id='improveScoreSignIn'>
   		
   			<a href="https://github.com/login/oauth/authorize?client_id=a1e0413182e4bcb57cca&scope=user,email,public_repo,notifications" class="btn btn-block btn-social btn-github">
            	<i class="fa fa-github"></i> Improve Your Score
          	</a>
   		</div>
   		<div id='bottomBar'>
   			<div id='githubBox'>
   				<a href='https://github.com/<%= userObj.username%>' target='_blank'>
   				<i class="fa fa-github"></i>
   				<div id='githubUsername'><%= userObj.username %></div>
   			</a>
   			</div>
   			<a id='personalWebsiteLink'>
	   			<div id='personalBox'>
	   				<img id='personalImage' src='<%= userObj.avatar_url %>'/>
	   				<div id='personalWebsite'></div>
	   			</div>
   			</a>
   		</div>

   		
   		<button id='hireMe' type="button" class="btn btn-default btn-lg">
		  Hire Me
		</button>

		<div id='popupForm'>
				<h2>Company Sign Up <small></small></h2>
				<div id='hidePopup'>
					<i class="fa fa-times-circle"></i>
				</div>
				<hr class="colorgraph">								
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
	                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="text" name="company" id="company" class="form-control input-lg" placeholder="Company Name" tabindex="4">
				</div>
				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
				</div>
				
					
				
				<hr class="colorgraph">
					<div id='popupFormSubmit' class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Submit</a></div>
				<!--http://codepen.io/Angelfire/pen/dJhyr-->
				
		</div>
	</body>
	<script>

		var userObj = <%- JSON.stringify(userObj) %>;
		var userId = "<%= userObj['_id'] %>";
		var users_name = "<%= userObj['name'] %>";
		var userWebsite = "<%= userObj['github_data'].blog %>";
		var isUser = <%= userObj['github_data'].isUser %>;
		var personalBox = document.getElementById('personalBox');
		var personalImage = document.getElementById('personalImage');
		var personalWebsite = document.getElementById('personalWebsite');
		var personalWebsiteLink = document.getElementById('personalWebsiteLink');
		var popupForm = document.getElementById('popupForm');
		var hireMe = document.getElementById('hireMe');
		var popupFormSubmit = document.getElementById('popupFormSubmit');
		var hidePopup = document.getElementById('hidePopup');
		var improveScoreSignIn = document.getElementById('improveScoreSignIn');

		var first_name = document.getElementById('first_name');
		var last_name = document.getElementById('last_name');
		var email = document.getElementById('email');
		var company = document.getElementById('company');

		hireMe.addEventListener('click', function(){
			popupForm.style.display = 'block';
		});
		popupFormSubmit.addEventListener('click', function() {
			var xhr = new XMLHttpRequest();
			var data = new FormData();
	        data.append('first_name', first_name.value);
	        data.append('last_name', last_name.value);
	        data.append('email', email.value);
	        data.append('user_id', userId);
	        data.append('users_name', users_name);
	        data.append('company', company.value);
	        xhr.onreadystatechange = function() {
	            if (xhr.readyState == 4) {
	              var response = xhr.responseText;
	              if(response === "true") {
	                hireMe.textContent = 'Thanks!';
					hireMe.style.background = "rgb(53, 243, 48)";
	              }
	              
	            }
	        }
	        xhr.open('POST', 'http://letshack.herokuapp.com/savecompany', true);
	        xhr.send(data);

			popupForm.style.display = 'none';
			
		});
		hidePopup.addEventListener('click', function() {
			popupForm.style.display = 'none';
		});
		
		console.log(userWebsite);
		if(userWebsite.length > 0 && userWebsite !== "null") {
			personalWebsite.textContent = userWebsite;
			personalWebsiteLink.href = userWebsite;
			personalWebsiteLink.target = "_blank";
			personalBox.addEventListener("mouseover", function() {
				console.log('mouseover');
				personalBox.style.background = 'rgb(167,219,216)';
				personalImage.style.display = 'none';
				personalWebsite.style.display = 'block';


			});
			personalBox.addEventListener("mouseleave", function() {
				personalBox.style.background = 'none';
				personalWebsite.style.display = 'none';
				personalImage.style.display = 'block';
			});
		}
		if(!isUser) {
			improveScoreSignIn.style.display = 'block';
		}
	</script>
</html>